<div class="card-body">
    <ul class="timeline">
        <li *ngFor="let product of products">
            <div class="timeline-badge info"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h3 class="timeline-title">{{product.name}}</h3>
                </div>
                <div class="timeline-body">
                        <img class="img-fluid mx-auto d-block" [src]="product.imagePath" alt="Random first slide" width="50%">
                    <h4>{{ 'Price' | translate }} {{product.cost | currency }}</h4>
                    <hr>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm">
                            <i class="fa">{{'Buy' | translate}}</i> <span class="caret"></span>
                        </button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>