$topnav-background-color: #222;
:host {
  .navbar {
    background: rgb(184, 75, 108);
    background: radial-gradient(circle, rgba(184, 75, 108, 1) 0%, rgba(26, 40, 91, 1) 60%, rgba(3, 11, 37, 1) 100%);
    .navbar-brand {
      color: #fff;
    }
    .nav-item > a {
      color: #999;
      &:hover {
        color: #fff;
      }
    }
  }
  .messages {
    width: 300px;
    .media {
      border-bottom: 1px solid #ddd;
      padding: 5px 10px;
      &:last-child {
        border-bottom: none;
      }
    }
    .media-body {
      h5 {
        font-size: 13px;
        font-weight: 600;
      }
      .small {
        margin: 0;
      }
      .last {
        font-size: 12px;
        margin: 0;
      }
    }
  }
}
