<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>{{ 'Final Project' | translate }}</h1>
            <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading" role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required
                            email class="form-control input-underline input-lg" id="">
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" ngModel placeholder="Password" #passwordInput="ngModel"
                            required class="form-control input-underline input-lg" id="">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onLogin(loginForm)"> Log in </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
            </form>
        </div>
    </div>
</div>